<!DOCTYPE html>
<html lang="en" oncontextmenu="return false;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url('../background.jpg');
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="background-color:rgb(225, 248, 245);" class="container p-4 mt-4 mb-4 ml-0 w-75">
            <h1 class="mb-3" style="color:black; font-weight: bold; font-size: 42px;"> <%= activity.title %></h1>
            <div class="text-muted mb-4"><%= activity.creationDate.toLocaleDateString() %></div>
            <a href="/" class="btn btn-info">All Activities</a>
            <a href="/activities/edit/<%= activity.id %>" onclick="validatePassword('<%=activity.password %>');"
                class="btn btn-primary">Edit</a>
            <script>
                function validatePassword(activityPassword) {
                    var password = ""
                    do {
                        password = prompt('To edit the post, please enter the password.', '');
                        if (password === null) {
                            return false;
                        }
                    } while (password != activityPassword);
                    return true;
                }
            </script>
            <div style="width: 50em; overflow-wrap: break-word;" class="card-text mt-4 mb-2"><%= activity.markdown %>
            </div>
        </div>
    </div>
    </div>
</body>

</html>