<!DOCTYPE html>
<html lang="en" oncontextmenu="return false;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url('background.jpg');
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <img class="center" style="padding-bottom: 10px;" src="./Coronactivities.jpg">
        <a href="/activities/new" class="btn btn-primary">New Activity</a>
        <a href="/sortedByCategory" class="btn btn-dark">Sort By Category</a>
        <% activities.forEach(activity => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= activity.title %></h4>
                <div class="card-subtitle text-muted mb-2">
                    <%=activity.creationDate.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><b><%= "Category: " %></b><%= activity.category %></div>
                <div class="card-text mb-2"><b><%= "Target audience: " %></b><%= activity.targetAudience %></div>
                <div class="card-text mb-2"><b><%= "Designed for: " %></b><%= activity.designedFor %></div>
                <div class="card-text mb-2"><b><%= "Cost: " %></b><%= activity.cost %></div>
                <div class="card-text mb-2"><%= activity.description %></div>
                <a href="activities/<%= activity.slug %>" class= "btn btn-info">Read More</a>
            </div>
        </div>
        <% }) %>
    </div>
</body>

</html>